
Library/ArtifactDB-lock
Library/ArtifactDB-lock
Library/CurrentLayout-default.dwlt
Library/EditorInstance.json
Library/SourceAssetDB-lock
Library/StateCache/MainStageHierarchy/4d/4d2a36d9faf65734f0bbefb3ee623532.json
Logs/shadercompiler-UnityShaderCompiler0.log
Logs/shadercompiler-UnityShaderCompiler1.log
Logs/shadercompiler-UnityShaderCompiler2.log
Logs/shadercompiler-UnityShaderCompiler3.log
